html {
  font-size: var(--remSize);
  color: var(--black);
}
body {
  font-size: var(--fontStd);
  font-family: var(--fontSans);
  background-color: var(--white);
}
:where(h1) {
  font-size: 6rem;
  font-weight: 800;
}
:where(h2, h3, h4, h5, h6) {
  font-weight: 600;
  line-height: 1.2;
}
:where(main) {
  position: relative;
}
:where(a) {
  color: hsl(var(--hue-4), 60%, 40%);
  text-decoration: none;
}
:where(a:hover) {
  text-decoration: underline;
}
:where(a:visited) {
  color: hsl(var(--hue-3), 60%, 40%);
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}